export default {
  navigationBarTitleText: {quotes}{componentName}{quotes},
  // enableShareAppMessage: true,
  // enableShareTimeline: true,
  // enablePullDownRefresh: true,
  // onReachBottomDistance: 100,
};
